<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.md2k.mcerebrumapi">

    <application>
<!--
        <service
            android:name="org.md2k.mcerebrumapi.core.extensionapi.app.MCExtensionService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.md2k.library.mcerebrum.client" />
            </intent-filter>
        </service>
-->
    </application>
</manifest>
